.logo {
  width: 250px !important;
}

.btn-primary {
  background-color: #2196F3 !important;
}
/* Calendar events */
.event {
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 150px;
  bottom: 3px;
  left: calc(50% - 1.5px);
  content: " ";
  display: block;
  background: #3d8eb9;
}

.event.busy {
  background: #f64747;
}

.controls {
    width: 150px;
    font-size: 32pt;
    text-align: center;
    padding: 15px;
    background-color:#1485ee;
    color: white;
}


.header {
  margin-bottom: 2em;
}

h1,h2 {
  text-align: center;
  margin-bottom: 1em;
  color:white;
}

/* Navigation */
.navigation {
  background:#000;
  padding-top:.75rem;
  padding-bottom:.75rem;
  color:#fff;
  border-radius:0;
  box-shadow:none;
  border:none;
  margin-bottom:0;
}

@media (min-width:768px) {
  .navigation {
    padding-top:1rem;
    padding-bottom:1rem;
  }
}

.navigation .navbar-brand {
  font-weight:bold;
  color:inherit;
}

.navigation .navbar-brand:hover {
  color:#DDD;
}

.navigation .navbar-toggler {
  border-color:#777;
}

.navigation .navbar-toggler:hover, .navigation .navbar-toggler:focus {
  background:none;
}

.navigation .navbar-toggler {
  color:#888;
}

.navigation .navbar-collapse, .navigation .form-inline {
  border-top-color:#ddd;
}

.navigation.navbar-light .navbar-nav .nav-link.active, .navigation.navbar-light .navbar-nav .nav-link.active:focus, .navigation.navbar-light .navbar-nav .nav-link.active:hover {
  color:#8f8f8f;
  box-shadow:none;
  background:none;
  pointer-events:none;
}

.navigation.navbar .navbar-nav .nav-link {
  padding-left:18px;
  padding-right:18px;
}

.navigation.navbar-light .navbar-nav .nav-link {
  color:#eee;
}

.navigation.navbar-light .navbar-nav .nav-link:focus, .navigation.navbar-light .navbar-nav .nav-link:hover {
  color:#888 !important;
  background-color:transparent;
}

.navigation .navbar-nav > li > .dropdown-menu {
  margin-top:-5px;
  box-shadow:none;
  background-color:#fff;
  border-radius:2px;
}

.navigation .dropdown-menu .dropdown-item:focus, .navigation .dropdown-menu .dropdown-item {
  line-height:2;
  color:#37434d;
}

.navigation .dropdown-menu .dropdown-item:focus, .navigation .dropdown-menu .dropdown-item:hover {
  background:#eee;
  color:inherit;
}


/* Footer CSS */
.footer {
    
    padding:40px 0;
    background-color:#000;
    color:#fff;
    bottom:0;
    width:100%;
    line-height:20px;
}

.footer ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
}

.footer li {
    padding:0 10px;
}

.footer ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}

.footer ul a:hover {
    opacity:1;
}

.footer .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
}

.btn
{
  background-color: white;

}

#upButton
{
  padding:5px 25px;
}

