% rebase('./layouts/base.tpl', the_title = context["title"])
<!-- Main content -->
<div class="row">
    <div class="col-sm-12" style="margin:15px 0px;">
        <h1 class="text-center">Rocket Launch App</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <button class="btn next-btn">Previous Event</button>
    </div>
    <div class="col-sm-4">
        <div class="datepicker">{{context["current_date"]}}</div>
    </div>
    <div class="col-sm-4">
        <button class="btn previous-btn">Next Event</button>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-12">
        <ol>
            % for launch in context["launches"]:
            <li>{{launch.id}}</li>
            <ul>
                <li>{{launch.name}}</li>
            </ul>
            % end
        </ol>
    </div>
</div>