% rebase('./layouts/base.tpl', the_title = context["title"])
<!-- Main content -->
<div class="row">
    <div class="col-sm-12">
        <h1>Upcoming Launches</h1>
        <h2>3,2,1!!! And LIFT OFF!</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <button class="btn next-btn">Previous Event</button>
    </div>
    <div class="col-md-4 offset-2">
        <div class="datepicker btn">{{context["current_date"]}}</div>
    </div>
    <div class="col-md-2 offset-1">
        <button class="btn previous-btn float-right" >Next Event</button>
    </div>
</div>
<br>

<div class="row">
    <h1>Countdown to next launch</h1>
</div>


<div class="row">
    <script type="text/javascript">
        window.onscroll = function() { if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) document.getElementById("upButton").style.display = "block";
        else document.getElementById("upButton").style.display = "none"; }
        function goToTop() { document.body.scrollTop = 0; document.documentElement.scrollTop = 0; }
    </script>

    <div class="col-sm-12">
        <div>
            % for launch in context["launches"]:
            <div class="card col-sm-12" style="margin-bottom:50px">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-7">
                            <a href=launch.imageUrl>
                                <img class="card-img img-fluid rounded mb-3 mb-md-0" src="assets/img/rocket_image.jpg">
                            </a>
                        </div>
                        <div class="col-md-5">
                            <h3>{{launch.name}}</h3>
                            <p>
                            % start = launch.windowstart.strftime('%Y-%m-%d %H:%M')
                            % windowstart = launch.windowstart.strftime('%Y-%m-%dT%H:%M:%S.%fZ')
                            % windowend = launch.windowend.strftime('%Y-%m-%dT%H:%M:%S.%fZ')
                            <span>{{start}}</span>
                            <div title="Add to Calendar" class="addeventatc">
                                    Add to Calendar
                                    <span class="start">{{windowstart}}</span>
                                    <span class="end">{{windowend}}</span>
                                    <!--<span class="timezone">America/Los_Angeles</span>-->
                                    <span class="title">{{launch.name}}</span>
                                    <span class="description">launch.desc</span>
                                    <span class="location">{{launch.location.pads[0].name}}</span>
                                    <span class="alarm_reminder">15</span>
                                </div>
                            <p>
                                <a target="_blank" href={{launch.location.pads[0].map_url}}>
                                </p>
                                    {{launch.location.pads[0].name}}
                                <i class="fa fa-map-marker"></i></a>
                            </p>
                            <p>launch.desc</p>
                            <p>
                                <a target="_blank" href=launch.location.infoURL>View more info</a>
                                <a target="_blank" href=launch.vidURL>Watch live here</a>
                            </p>
                            <p>
                                % current_weather = context["weather"].get_result_for_geolocation(53.3494, -6.2601)
                                <span>Current Weather Conditions:  </span>
                                <span>{{current_weather.get("condition")}}, </span>
                                <span>{{current_weather.get("temp")}} ℃, </span>
                                <span>{{current_weather.get("windSpeed")}} Knots</span>
                            </p>
                                % date = launch.windowstart.strftime('%d %b %Y')
                                % forecast_array = context["weather"].get_forecasting_results_for_geolocation_date(53.3494, -6.2601, date)
                                % if len(forecast_array) > 0:
                                    <p>
                                        <span>Weather Forecast: </span>

                                        <span>{{date}}</span>
                                        <span>{{forecast_array[0].get("high")}}, </span>
                                        <span>{{forecast_array[0].get("low")}} ℃, </span>
                                        <span>{{forecast_array[0].get("description")}} Knots</span>
                                    </p>
                                % end
                            <br>
                            <p>
                                <span><a href="#" class="btn btn-primary">Buy Ticket <i class="fa fa-rocket"></i></a></span>
                            </p>
                                % if launch.probability != -1:
                                    <p>
                                        <span>Launch Propability: </span><span>{{launch.probability}}</span>
                                    </p>
                                % end
                            <p>
                                % if launch.failreason != None:
                                    <span>Fail Reason: </span><span>{{launch.failreason}}</span>
                                % end

                                % if launch.holdreason != None:
                                    <span>Hold Reason: </span><span>{{launch.holdreason}}</span>
                                % end
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            % end
        </div>
    </div>
</div>